<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/save}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name" placeholder = "Enter name here"/>
    <br/>
    <label for="surName">Enter surName: </label>
    <input type="text" th:field="*{surName}" id="surName" placeholder = "Enter surName here"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email" placeholder = "Enter email here"/>
    <br/>

    <input type="submit" value="Create new user"/>
</form>
<br>
<br>
<a th:href="@{/}">Show all</a>
</body>
</html>