<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/save}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name" placeholder = "Enter name here"/>
    <br/>
    <label for="surName">Enter surName: </label>
    <input type="text" th:field="*{surName}" id="surName" placeholder = "Enter surName here"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email" placeholder = "Enter email here"/>
    <br/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password" placeholder = "Enter password here"/>
    <br/>



<!--    <div class="form-group row">-->
        <label> Roles:
        <!-- th:each="role:${roles}" class="check-box">
            <input id="roles" name="roles" type="checkbox" th:value="${role.id}" th:text="${role.name}">-->
<!--            <div class="col-sm-8">-->
                <th:block th:each="role : ${roles}">
                    <div>
                        <input type="checkbox" th:field="*{roleSet}" th:text="${role.name}" th:value="${role.id}" />
                    </div>
                </th:block>
<!--            </div>-->
        </label>
<!--    </div>-->

<!--    <p>-->
<!--        <label>Roles:-->
<!--            <input type="checkbox" name="roles"-->
<!--                   th:each="role : ${allRoles}"-->
<!--                   th:text="${role.name}"-->
<!--                   th:value="${role.id}"-->
<!--                   th:field="*{roles}"-->
<!--            />-->
<!--        </label>-->
<!--    </p>-->



<!--    <td>Role:</td>
    <td>
        <select name="role">
            <option disabled>Choose the role</option>
            <option>ROLE_USER</option>
            <option>ROLE_ADMIN</option>
            <option>ROLE_USER, ROLE_ADMIN</option>
        </select>
    </td>-->

    <input type="submit" value="Create new user"/>
</form>
<br>
<br>
<!--<a th:href="@{/}">Show all</a>-->
</body>
</html>