<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<br>
<h3><a href="/logout">Logout</a></h3>
<br>
<div align="center">
    <h2>Edit User</h2>
    <form th:method="POST" th:action="@{/admin/update/{id}(id=${id})}" th:object="${user}" >
        <table border="2" cellpadding="8">
            <tr>
                <td>Name: </td>
                <td><input type="text" th:field="*{name}" id="name"/></td>
            </tr>
            <tr>
                <td>surName: </td>
                <td><input type="text" th:field="*{surName}" id="surName"/></td>
            </tr>
            <tr>
                <td>E-Mail: </td>
                <td><input type="text" th:field="*{email}" id="email"/></td>
            </tr>
            <tr>
                <td>password: </td>
                <td><input type="text" th:field="*{password}" id="password"/></td>
            </tr>

            <tr>
                <td align="right">
                    <label for="roleSet">Security level: </label>
                </td>
                <td>
                    <select style = "width: 100%" multiple request size="2" name="checkRoles" id="roleSet">
                        <option value="ROLE_USER" selected>USER</option>
                        <option value="ROLE_ADMIN" selected>ADMIN</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" value="Update"></td>
            </tr>

        </table>
    </form>
</div>
</body>
</html>