<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>
<a th:text="${user}"></a>

<br>
<br>
<br>

<table border="1" cellpadding="5">

    <tr>
        <th>id</th>
        <th>name</th>
        <th>surName</th>
        <th>email</th>
        <th>password</th>
        <th>role</th>
    </tr>
    <tr>
        <td><p th:text="${user.getId()}">VALUE</p></td>
        <td><p th:text="${user.Name}">VALUE</p></td>
        <td><p th:text="${user.surName}">VALUE</p></td>
        <td><p th:text="${user.email}">VALUE</p></td>
        <td><p th:text="${user.password}">VALUE</p></td>
        <td>
            <li th:each="role : ${user.getRoleSet()}" th:text="${role.getName()}"></li>
        </td>
    </tr>

</table>
<br>
<br>
<th:block th:if="${isAdmin}">
    <a href="/admin">Main Page</a>
</th:block>
<h3><a href="/logout">Logout</a></h3>
</body>
</html>